@using Microsoft.AspNet.Identity
@{
    Layout = null;
    string name = (string)Session["Name"];

}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>OnMed - Sức Khỏe 4.0</title>

    <!-- Favicons -->
    <link href="~/assets/img/OnMed.png" rel="icon">
    <link href="~/assets/img/OnMed.png" rel="apple-touch-icon">

    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!--===============================================================-->
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>



</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Nav Item - Dashboard -->
           <li class="nav-item">
               <a class="nav-link text-center "><span>ADMIN</span></a>
           </li>


            <!-- Divider -->
            <!-- Heading -->
            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Bac si -->
           <li class="nav-item">
               <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBS"
                  aria-expanded="true" aria-controls="collapseBS">
                   <span> Bác sĩ</span>
               </a>
               <div id="collapseBS" class="collapse" aria-labelledby="headingBS" data-parent="#accordionSidebar">
                   <div class="bg-white py-2 collapse-inner rounded ">

                       <a class="collapse-item" href="@Url.Action("DanhSach", "BacSi")">Danh sách bác sĩ</a>
                       <a class="collapse-item" href="@Url.Action("ThemBacSi", "BacSi")">Thêm bác sĩ</a>
                       <a class="collapse-item" href="@Url.Action("DanhSach", "TaiKhoan")">Quản lý tài khoản</a>

                   </div>
               </div>
               <!-- Dich vu -->
               @*<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDV"
           aria-expanded="true" aria-controls="collapseDV">
            <span> Dịch vụ</span>
        </a>
        <div id="collapseDV" class="collapse" aria-labelledby="headingDV" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded ">

                <a class="collapse-item" href="@Url.Action("DanhSach", "DichVu")">Danh sách Dịch vụ</a>
                <a class="collapse-item" href="@Url.Action("ThemDV", "DichVu")">Thêm Dịch Vụ</a>
                <a class="collapse-item" href="@Url.Action("XoaDV", "DichVu")">Quản lý dịch vụ</a>

            </div>
        </div>*@
               <!-- Ca Kham -->

               <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCK"
                  aria-expanded="true" aria-controls="collapseTwo">
                   <span> Ca khám</span>
               </a>
               <div id="collapseCK" class="collapse" aria-labelledby="headingCK" data-parent="#accordionSidebar">
                   <div class="bg-white py-2 collapse-inner rounded ">

                       <a class="collapse-item" href="@Url.Action("DanhSach", "CaKham")">Danh sách</a>
                       <a class="collapse-item" href="@Url.Action("ThemCaKham", "CaKham")">Thêm Ca Khám</a>

                   </div>
               </div>

               <!--Lich kham -->
               <a class="nav-link collapsed" href="/admin/thongke/danhsach">
                   <span>Thống kê</span>
               </a>
               @*<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTK"
                  aria-expanded="true" aria-controls="collapseTwo">
                   <span> Thống Kê</span>
               </a>
               <div id="collapseTK" class="collapse" aria-labelledby="headingTK" data-parent="#accordionSidebar">
                   <div class="bg-white py-2 collapse-inner rounded ">

                       <a class="collapse-item" href="@Url.Action("danhsach", "ThongKe")">Xuất dữ liệu</a>
                       <a class="collapse-item" href="@Url.Action("DoanhThu", "ThongKe")">Danh thu</a>
                   </div>
               </div>*@
               <!--Lịch nghỉ phép-->
               <a class="nav-link collapsed" href="/admin/donnghiphep/danhsach">
                   <span>Đơn nghỉ phép</span>
               </a>
               <!-- Liên hệ-->
               <a class="nav-link collapsed" href="/admin/home/lienhe">
                   <span>Phản hồi</span>
               </a>
           </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <!-- Divider -->
            <!-- Divider -->

            <!-- Sidebar Toggler (Sidebar) -->
            @*<div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>*@

            <!-- Sidebar Message -->


        </ul>

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="logo">
                    <h1 class="name"><a href="@Url.Action("Index", "Home")">On<span>Med</span></a></h1>
                </div>
                <ul class="navbar-nav ml-auto">


                    @if (User.Identity.GetUserName() != null)
                    {


                        <li class="nav-item">
                            <a class="nav-link">
                                @*<span class="mr-2 d-none d-lg-inline text-gray-600 font-weight-bold">@User.Identity.Name</span>*@
                                <span class="mr-2 d-none d-lg-inline text-gray-600 font-weight-bold">@name</span>
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            @Html.Partial("_LoginPartialAdmin")
                        </li>
                    }

                </ul>
            </nav>
            <!-- Main Content -->
            @RenderBody()

            <!-- End of Main Content -->

        </div>


    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("LogOut","Admin")">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <!--<script src="~/Assets/Admin/vendor/chart.js/Chart.min.js"></script>-->
    <!-- Page level custom scripts -->
    <!--<script src="~/Assets/Admin/js/demo/chart-area-demo.js"></script>
    <script src="~/Assets/Admin/js/demo/chart-pie-demo.js"></script>-->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>

    <script src="~/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
    @RenderSection("DataTable", required: false)
    @RenderSection("duyetdon", required: false)
    @RenderSection("xuatexcel", required: false)



</body>

</html>