@model IEnumerable<WebBookingCare.Models.EF.PhieuDatLich>
@{
    ViewBag.Title = "DatLich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- ======= Appointment Section ======= -->
<section id="appointmen" class="appointment section-bg">
    <div class="container">
        <div class="row">
            <div class="col col-md-sm-6">
                <div class="formdatlich">
                    <div class="section-title">
                        <h2>Đặt Lịch</h2>
                    </div>
                    <form name="datlich" id=datlich class="php-email-form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6 form-group mt-3">
                                <input type="text" class="form-control" name="hoten" id="name" placeholder="Tên của bạn" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3">
                                <input type="number" class="form-control" name="tuoi" id="tuoi" placeholder="Tuổi của bạn" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email của bạn" data-rule="minlen:4" data-msg="Please enter a valid email" required>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3">
                                <input type="tel" class="form-control" name="sdt" id="phone" placeholder="Số điện thoại" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                                <div class="validate"></div>
                            </div>


                            <div class="col-md-6 form-group mt-3">
                                <select name="khoa" id="khoa" class="form-select" required>
                                    <option value="">Chọn chuyên khoa</option>
                                    @{
                                        for (int i = 0; i < Enumerable.Count(ViewBag.Khoa); i++)
                                        {
                                            <option value="@ViewBag.Khoa[i].MaKhoa">@ViewBag.Khoa[i].TenKhoa</option>
                                        }
                                    }
                                </select>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3">
                                <select name="bacsi" id="bacsi" class="form-select" disabled required>
                                    <option value="">Chọn bác sĩ</option>

                                </select>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3">
                                <select name="ngaykham" id="ngaykham" class="form-select" disabled required>
                                    <option value="">Chọn ngày khám</option>
                                    @{
                                        for (int i = 0; i < 7; i++)
                                        {
                                            <option value="@DateTime.Today.AddDays(i + 3).ToString("MM/dd/yyyy")">@DateTime.Today.AddDays(i + 3).ToString("dddd", new System.Globalization.CultureInfo("vi-VN")) - @DateTime.Today.AddDays(i + 3).ToString("dd/MM/yyyy")</option>
                                        }
                                    }
                                </select>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3">
                                <select name="cakham" id="cakham" class="form-select" disabled required>
                                    <option value="">Chọn Ca Khám</option>
                                </select>
                                <div class="validate"></div>
                            </div>
                            <div class="form-group mt-3">
                                <textarea lang="vi" class="form-control" name="tinhtrang" id="tinhtrang" rows="3" placeholder="Điền tình trạng bệnh " required></textarea>
                                <div class="validate"></div>
                            </div>
                        </div>

                        <div class="text-center"><button id="luu" type="submit">Đặt lịch khám ngay</button></div>
                    </form>
                </div>
            </div>
            <div class="col col-md-sm-6">
                <div class="tuychon">
                    <div class="section-title">
                        <h2 class="ten">
                            <a>On<span>Med</span></a>
                        </h2>
                        <h4 class="text-center">Tận Tâm - Chất Lượng - Thân Thiện</h4>

                    </div>

                    <div class="tracuu">
                        <div class="container">
                            <div class="col-lg-12 d-flex align-items-stretch">
                                <div class="content">
                                    <p>
                                        OnMed một nền tảng kết nối giữa bác sĩ và bệnh nhân, giúp bệnh nhân dễ dàng đặt lịch hẹn khám bệnh.
                                    </p>
                                    <p>
                                        OnMed giúp người dùng tiết kiệm thời gian và tiền bạc khi đặt lịch khám bệnh, đồng thời cung cấp cho họ sự thuận tiện và linh hoạt trong việc quản lý sức khỏe của mình.

                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Appointment Section -->
@section scripts {
    <script>
        $(function () {
            $('#khoa').change(function () {
                var data = $(this).val();
                if (data) {
                    $("#bacsi").prop("disabled", false);
                    $("#ngaykham,#cakham").prop("disabled", true);
                    $("#ngaykham,#cakham").val("");
                    $.ajax({
                        url: '/Home/GetBacSi',
                        type: 'get',
                        dataType: 'json',
                        data: { MaKhoa: data },
                        success: function (result) {
                            var options = "<option value=''>Chọn bác sĩ</option>";
                            $.each(result, function (index, bacsi) {
                                options += "<option value='" + bacsi.MaBS + "'>" + bacsi.HoTen + "</option>";
                            });
                            $('#bacsi').html(options);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("Error: " + textStatus + " - " + errorThrown);
                        }
                    });
                } else {
                    $("#bacsi, #ngaykham, #cakham").prop("disabled", true);
                    $("#bacsi,#ngaykham ,#cakham").val("");
                }
            });
            $('#bacsi').change(function () {
                var data = $(this).val();
                if (data) {
                    $("#ngaykham").prop("disabled", false);
                    $("#ngaykham,#cakham").val("");
                    $("#cakham").prop("disabled", true);
                } else {
                    $("#ngaykham ,#cakham").val("");
                    $("#ngaykham,#cakham").prop("disabled", true);

                }
            });
            $('#ngaykham').change(function () {
                var ngaykham = $(this).val();
                var mabs = $('#bacsi').val();
                if (ngaykham) {
                    $("#cakham").prop("disabled", false);
                    $.ajax({
                        url: '/Home/GetCaKham',
                        type: 'get',
                        dataType: 'json',
                        data: { mabs: mabs, ngaykham: ngaykham },
                        success: function (result) {
                            var options = "<option value=''>Chọn ca khám</option>";
                            $.each(result, function (index, cakham) {
                                options += "<option value='" + cakham.MaCa + "'>" + cakham.TenCa + "</option>";
                            });
                            $('#cakham').html(options);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("Error: " + textStatus + " - " + errorThrown);
                        }
                    });
                } else {
                    $("#cakham").val("");
                    $("#cakham").prop("disabled", true);
                }
            });
        });


        $(function () {

            const datlich = document.querySelector("#datlich");




            // Xử lý sự kiện khi form đăng ký hẹn khám bệnh được gửi đi
            /*appointmentForm.addEventListener("submit", (e) => {*/
            $('#luu').click(function (event) {

                event.preventDefault();

                // Lấy các giá trị được nhập vào trên form
                const hoten = document.getElementById("name").value;
                const tuoi = document.getElementById("tuoi").value;
                const email = document.getElementById("email").value;
                const sdt = document.getElementById("phone").value;
                const ngaykham = document.getElementById("ngaykham").value;
                const cakham = document.getElementById("cakham").value;
                const bacsi = document.getElementById("bacsi").value;
                const tinhtrang = document.getElementById("tinhtrang").value;
                if (hoten !== "" && tuoi !== "" && email !== "" && sdt !== "" && ngaykham !== "" && cakham !== "" && bacsi !== "" && tinhtrang !== "") {
                    const pdl = {
                        TenBN: hoten,
                        Tuoi: tuoi,
                        Email: email,
                        SDT: sdt,
                        NgayKham: ngaykham,
                        MaCa: cakham,
                        MaBS: bacsi,
                        TinhTrang: tinhtrang
                    };
                    // Gửi yêu cầu đăng ký hẹn khám bệnh đến server
                    $.ajax({
                        url: "/home/DatLich",
                        type: "post",
                        data: JSON.stringify(pdl),
                        contentType: "application/json",
                        success: function (data) {
                            if (data.code === 200) {
                                // Hiển thị thông báo "Đăng ký thành công"
                                alert(data.msg);
                                // Xóa các giá trị đã nhập trên form
                                datlich.reset();
                                // Ẩn các trường Bác sĩ, Ngày khám và Ca khám
                                $("#bacsi, #ngaykham, #cakham").prop("disabled", true)

                            } else {
                                // Hiển thị thông báo lỗi
                                alert(data.msg);

                            }
                        },

                        error: function (xhr, status, error) {
                            // Ẩn thông báo "Đang gửi..."
                            loadingElement.style.display = "none";
                            errorMessage.style.display = "none";

                            // Hiển thị thông báo lỗi
                            errorMessage.innerText = "Đã có lỗi xảy ra. Vui lòng thử lại sau.";
                            errorMessage.style.display = "none";
                        },
                    });

                } else {
                    // Hiển thị thông báo lỗi hoặc xử lý các trường hợp khác
                    // ...
                    alert("vui lòng nhập đủ thông tin")
                }

            });
        })

    </script>
} 