@model WebBookingCare.Models.EF.PhieuDatLich

@{
    ViewBag.Title = "HoSoKhamBenh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HoSoKhamBenh</h2>

<div>
    <h4>PhieuDatLich</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.NgayKham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCa)
        </dd>

    </dl>
</div>
<p>
</p>
